.header {
  position: relative;
  background-color: #4F302B;
  width: 100%;
  top: 0;
  left: 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (min-width: 565px) and (max-width: 767px) {
  .header .container .logo {
    max-width: 140px;
    gap: 5px;
  }
}
@media (max-width: 564px) {
  .header .container .logo {
    max-width: 140px;
    gap: 5px;
  }
}
.header .container .logo img {
  max-width: 60%;
  height: 40%;
}
.header .container .logo h4 {
  color: #F0E2C5;
  font-size: 25px;
  font-family: "Inter";
  font-weight: 700;
}
.header .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .container ul {
    gap: 0px;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .container ul {
    display: none;
  }
}
@media (min-width: 565px) and (max-width: 767px) {
  .header .container ul {
    display: none;
  }
}
@media (max-width: 564px) {
  .header .container ul {
    display: none;
  }
}
.header .container ul a {
  text-decoration: none;
  color: #F0E2C5;
  padding: 15px 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Almarai";
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .container ul a {
    padding: 5px;
  }
}
.header .container ul a.active, .header .container ul a:hover {
  border-bottom: 1px solid #F0E2C5;
  color: #c8ba9f;
}
.header .container ul::after {
  content: "";
  border-width: 20px;
  border-style: solid;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  border-color: transparent transparent #4F302B transparent;
}
@media (min-width: 565px) and (max-width: 767px) {
  .header .container ul::after {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@media (max-width: 564px) {
  .header .container ul::after {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
.header .container ul.active {
  display: block;
  position: fixed;
  width: 80%;
  margin: auto;
  top: 18%;
  background-color: #4F302B;
  z-index: 100;
  text-align: center;
}
.header .container ul.active a {
  padding: 30px;
  border: none;
}
@media (min-width: 565px) and (max-width: 767px) {
  .header .container ul.active {
    top: 17%;
  }
}
@media (max-width: 564px) {
  .header .container ul.active {
    top: 13%;
  }
}
.header .container .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (min-width: 565px) and (max-width: 767px) {
  .header .container .login {
    gap: 3px;
    max-width: 180px;
  }
}
@media (max-width: 564px) {
  .header .container .login {
    gap: 3px;
    max-width: 180px;
  }
}
.header .container .login img {
  max-width: 100%;
  margin-left: 5px;
}
@media (max-width: 564px) {
  .header .container .login img {
    display: none;
  }
}
.header .container .login a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Almarai";
  font-weight: 400px;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid #FFF;
}
.header .container .login a.light {
  color: #fff;
  background-color: rgba(240, 226, 197, 0.4901960784);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .container .login a.light:hover {
  background-color: rgba(192, 173, 135, 0.4901960784);
}
.header .container .login a.dark {
  background-color: #F0E2C5;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .container .login a.dark:hover {
  background-color: #c8ba9f;
}
.header i {
  font-size: 35px;
  font-weight: 700;
  color: #F0E2C5;
  top: 50%;
  left: 50%;
  position: absolute;
  cursor: pointer;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  padding: 20px;
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header i {
    display: block;
  }
}
@media (min-width: 565px) and (max-width: 767px) {
  .header i {
    display: block;
  }
}
@media (max-width: 564px) {
  .header i {
    display: block;
  }
}

.container {
  width: 90%;
  margin: auto;
}

.login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 1px solid #000;
  -webkit-box-shadow: 5px 5px 10px 10px rgb(195, 192, 192);
          box-shadow: 5px 5px 10px 10px rgb(195, 192, 192);
  overflow: hidden;
}
@media (min-width: 565px) and (max-width: 767px) {
  .login .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
  }
}
.login .container .box1 {
  padding: 80px;
  background-color: #fff;
  width: 60%;
  position: relative;
}
@media (min-width: 565px) and (max-width: 767px) {
  .login .container .box1 {
    margin: auto;
    width: 60%;
    padding: 80px;
  }
}
.login .container .box1 h2 {
  font-size: 50px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 800;
  color: #4F302B;
  margin-top: 0;
  margin-bottom: 50px;
  top: -50px;
}
.login .container .box1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login .container .box1 form input {
  padding: 15px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid #4F302B;
  outline: none;
}
.login .container .box1 form input::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 400;
}
.login .container .box1 form input::-moz-placeholder {
  font-size: 20px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 400;
}
.login .container .box1 form input:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 400;
}
.login .container .box1 form input::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 400;
}
.login .container .box1 form input::placeholder {
  font-size: 20px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 400;
}
.login .container .box1 h4 {
  color: #4F302B;
  position: relative;
  font-size: 25px;
  font-weight: 700;
  font-style: "normal";
  font-family: "Almarai";
}
.login .container .box1 h4::before {
  content: "";
  height: 2px;
  position: absolute;
  width: 12%;
  background-color: #4F302B;
  top: 50%;
  left: 23%;
}
.login .container .box1 h4::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 12%;
  background-color: #4F302B;
  top: 50%;
  right: 23%;
}
.login .container .box1 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.login .container .box1 .icon .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 1px solid #000;
  padding: 5px 7px;
  border-radius: 10px;
  color: #777;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.login .container .box1 .icon .google img {
  width: 15%;
}
.login .container .box1 .icon .google p {
  margin: 0;
}
.login .container .box1 .icon .google:hover {
  background-color: #e8e8e8;
}
.login .container .box1 .icon .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 1px solid #000;
  padding: 5px 7px;
  border-radius: 10px;
  color: #777;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.login .container .box1 .icon .facebook img {
  width: 15%;
}
.login .container .box1 .icon .facebook p {
  margin: 0;
}
.login .container .box1 .icon .facebook:hover {
  background-color: #e8e8e8;
}
.login .container .box1 .button {
  padding: 5px 20px;
  font-size: 25px;
  font-style: "normal";
  font-weight: 400;
  font-family: "Almarai";
  background-color: #4F302B;
  color: #FFF;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.login .container .box1 .button:hover {
  background-color: #2c110d;
}
.login .container .box1 p {
  text-align: right;
  color: #777;
}
.login .container .box1 p a {
  text-decoration: none;
  color: #4F302B;
  margin-right: 5px;
  font-size: 18px;
  font-family: "Almarai";
  font-style: "normal";
  font-weight: 400;
}
.login .container .box1::after {
  content: "";
  width: 110px;
  height: 145px;
  position: absolute;
  border-radius: 45%;
  background-color: #FFF;
  bottom: 0px;
  left: 0.5px;
  z-index: 5;
}
@media (min-width: 565px) and (max-width: 767px) {
  .login .container .box1::after {
    display: none;
  }
}
.login .container .box2 {
  padding: 80px;
  background-color: #4F302B;
  width: 40%;
  border-top-right-radius: 100px;
  position: relative;
}
@media (min-width: 565px) and (max-width: 767px) {
  .login .container .box2 {
    display: none;
  }
}
@media (max-width: 564px) {
  .login .container .box2 {
    display: none;
  }
}
.login .container .box2::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 70px;
  background-color: #4F302B;
  bottom: 0px;
  right: -50px;
}

.footer {
  position: relative;
  background-color: #4F302B;
  border-top-left-radius: 522px 240px;
}
@media (min-width: 565px) and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
@media (max-width: 564px) {
  .footer {
    text-align: center;
  }
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 93.6%;
  right: 0;
  height: 90px;
  background-color: #FFF;
  border-bottom-right-radius: 164px 93px;
  -webkit-box-shadow: 28px 14px 34px rgba(192, 192, 192, 0.3490196);
          box-shadow: 28px 14px 34px rgba(192, 192, 192, 0.3490196);
}
.footer .boxs {
  padding-top: 180px;
  display: -ms-grid;
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .boxs .box1 .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .boxs .box1 .head img {
  width: 30%;
  height: 30%;
}
.footer .boxs .box1 .head h3 {
  color: #fff;
  font-size: 45px;
  font-style: "normal";
  font-weight: 800;
  font-family: "Almarai";
}
.footer .boxs .box1 ul {
  list-style: none;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.footer .boxs .box1 ul a {
  padding: 2px;
}
.footer .boxs .box1 ul a:hover {
  color: #c8ba9f;
}
.footer .boxs .box2 .head h3,
.footer .boxs .box3 .head h3,
.footer .boxs .box4 .head h3 {
  color: #fff;
  font-size: 30px;
  font-style: "normal";
  font-weight: 800;
  font-family: "Almarai";
}
.footer .boxs .box2 ul,
.footer .boxs .box3 ul,
.footer .boxs .box4 ul {
  padding: 40px 0 35px;
  list-style: none;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.footer .boxs .box2 ul a,
.footer .boxs .box3 ul a,
.footer .boxs .box4 ul a {
  padding: 2px;
}
.footer .boxs .box2 ul a:hover,
.footer .boxs .box3 ul a:hover,
.footer .boxs .box4 ul a:hover {
  color: #c8ba9f;
}
.footer .boxs .box4 ul {
  margin: 0;
}
.footer .boxs .box4 p {
  margin: 0;
  color: #F5F5F5;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.footer .boxs .box4 .icons img {
  margin-left: 15px;
}
.footer .copyright {
  background-color: #F0E2C5;
  width: 100%;
  height: 40px;
  color: #4F302B;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}